.profile-pic-image{
    width: 250px;
    height: 280px;
    border: 15px solid white;
    border-radius: 10px;
}

@media (max-width:1000px){
    .profile-pic{
        display: flex;
        justify-content: center;
    }
}