.image-sec{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40vw;
}

.profile-pic-image{
    width: 250px;
    border: 15px solid white;
    border-radius: 10px;
}