.App{
    background-color: black;
    padding-top: 10vh;
    height: 100%;
}

h1,h2,h3{
    margin: 0;
}

.row{
    width: 100%;
    display: flex;
    padding-bottom: 2rem;
}

.left-col{
    display: flex;
    justify-content: left;
    min-width: 30vw;
    padding-left: 2rem;
}

.intro-left-col{
    width: 70vw;
    padding-left: 2rem;
}

.sm-row{
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.intro-sm-row{
    padding-bottom: 2rem;
}

@media (max-width:1000px){
    .image-sec{
        width: 100%;
    }
    .App{
        padding-top:5vh;
    }
}

@media (min-width:1000px){
    .text-sec{
        margin: 10vh;
        height: 50vh;
        width: 60vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.mobile-App{
    display: flex;
    flex-direction: column;
}
